@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-nunito-sans);

    --color-gray: #646464;
    --color-blue: #4880FF;
    --color-black: #202224;
    --color-graphite: #404040;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: var(--font-nunito-sans);
}